{$CADDY_HOSTS} {
	tls internal
	handle /uploads/* {
		file_server
	}
	handle {
		reverse_proxy django:{$PORT} {
			header_up Host {host}
		}
	}
}
adminer.localhost {
	handle {
		reverse_proxy adminer:8080 {
			header_up Host {host}
		}
	}
}
