{% extends "layout/base.html" %}
{% load ftl static %}

{% block content %}
<section id="hero" class="hero white-text medium-elevate">
    <h1 class="small">Learn through Stories, Comics, and Culture</h1>
    <h3 class="small">An innovative educational platform combining engaging comics, interactive modules, and teacher resources — available in several European languages.</h3>
    <div class="large-space"></div>
    <h6 class="center-align bold">Start exploring today and dive into language, history, and Europe in a whole new way.</h6>
    <div class="large-space"></div>
    <p> <a href="#modules" class="button extra border transparent">View modules</a> </p>
</section>

<section id="comics" class="responsive white-text">
    <h2 class="center-align bold">{% ftlmsg "app-comics" %}</h2>
    <div class="row space-evenly wrap">

        <article class="card-tall large-margin no-padding">
            <a href="#">
              <img class="responsive" src="{% static "Stefanik_cover_EN.webp" %}">
              <div class="absolute bottom left right padding bottom-shadow white-text">
                <h5 class="bold">Whole Comics</h5>
                <p>Read the story of Štefaník</p>
              </div>
            </a>
        </article>

        <article class="card-tall large-margin no-padding">
            <a href="#">
              <img class="responsive" src="{% static "young_stefanik_SK.webp" %}">
              <div class="absolute bottom left right padding bottom-shadow white-text">
                <h5 class="bold">Comics Excerpts</h5>
                <p>Read chosen pieces of Štefaník</p>
              </div>
            </a>
        </article>

    </div>
</section>

<section id="modules" class="responsive white-text">
    <h2 class="center-align bold">{% ftlmsg "app-modules" %}</h2>

    <section class="large-margin">
        <h3 class="center-align">{% ftlmsg "app-modules-about-language" %}</h3>
        <div class="row space-evenly scroll large-margin">

        <article class="no-padding round s m l">
            <a href="#">
              <img class="responsive medium" src="{% static "press_letters.jpeg" %}">
              <div class="absolute bottom left right padding bottom-shadow bottom-round white-text">
                <nav>
                  <h5>Unit 1</h5>
                  <div class="max"></div>
                </nav>
              </div>
          </a>
        </article>


        <article class="no-padding round">
            <a href="#">
              <img class="responsive medium" src="{% static "press_letters.jpeg" %}">
              <div class="absolute bottom left right padding bottom-shadow bottom-round white-text">
                <nav>
                  <h5>Unit 2</h5>
                  <div class="max"></div>
                </nav>
              </div>
          </a>
        </article>


        <article class="no-padding round">
            <a href="#">
              <img class="responsive medium" src="{% static "press_letters.jpeg" %}">
              <div class="absolute bottom left right padding bottom-shadow bottom-round white-text">
                <nav>
                  <h5>Unit 3</h5>
                  <div class="max"></div>
                </nav>
              </div>
          </a>
        </article>


        <article class="no-padding round">
            <a href="#">
              <img class="responsive medium" src="{% static "press_letters.jpeg" %}">
              <div class="absolute bottom left right padding bottom-shadow bottom-round white-text">
                <nav>
                  <h5>Unit 4</h5>
                  <div class="max"></div>
                </nav>
              </div>
          </a>
        </article>


        <article class="no-padding round">
            <a href="#">
              <img class="responsive medium" src="{% static "press_letters.jpeg" %}">
              <div class="absolute bottom left right padding bottom-shadow bottom-round white-text">
                <nav>
                  <h5>Unit 5</h5>
                  <div class="max"></div>
                </nav>
              </div>
          </a>
        </article>

        <article class="no-padding round">
            <a href="#">
              <img class="responsive medium" src="{% static "press_letters.jpeg" %}">
              <div class="absolute bottom left right padding bottom-shadow bottom-round white-text">
                <nav>
                  <h5>Unit 6</h5>
                  <div class="max"></div>
                </nav>
              </div>
          </a>
        </article>

        <article class="no-padding round">
            <a href="#">
              <img class="responsive medium" src="{% static "press_letters.jpeg" %}">
              <div class="absolute bottom left right padding bottom-shadow bottom-round white-text">
                <nav>
                  <h5>Unit 7</h5>
                  <div class="max"></div>
                </nav>
              </div>
          </a>
        </article>

        <article class="no-padding round">
            <a href="#">
              <img class="responsive medium" src="{% static "press_letters.jpeg" %}">
              <div class="absolute bottom left right padding bottom-shadow bottom-round white-text">
                <nav>
                  <h5>Unit 8</h5>
                  <div class="max"></div>
                </nav>
              </div>
          </a>
        </article>

        <article class="no-padding round">
            <a href="#">
              <img class="responsive medium" src="{% static "press_letters.jpeg" %}">
              <div class="absolute bottom left right padding bottom-shadow bottom-round white-text">
                <nav>
                  <h5>Unit 9</h5>
                  <div class="max"></div>
                </nav>
              </div>
          </a>
        </article>

        </div>
    </section>

    <section class="large-margin">
        <h3 class="center-align">{% ftlmsg "app-modules-about-history" %}</h3>
        <div class="row space-evenly scroll large-margin">

        <article class="no-padding round">
            <a href="#">
              <img class="responsive medium" src="{% static "comics_pages.jpeg" %}">
              <div class="absolute bottom left right padding bottom-shadow bottom-round white-text">
                <nav>
                  <h5>Unit 1</h5>
                  <div class="max"></div>
                </nav>
              </div>
          </a>
        </article>

        <article class="no-padding round">
            <a href="#">
              <img class="responsive medium" src="{% static "comics_pages.jpeg" %}">
              <div class="absolute bottom left right padding bottom-shadow bottom-round white-text">
                <nav>
                  <h5>Unit 2</h5>
                  <div class="max"></div>
                </nav>
              </div>
          </a>
        </article>

        <article class="no-padding round">
            <a href="#">
              <img class="responsive medium" src="{% static "comics_pages.jpeg" %}">
              <div class="absolute bottom left right padding bottom-shadow bottom-round white-text">
                <nav>
                  <h5>Unit 3</h5>
                  <div class="max"></div>
                </nav>
              </div>
          </a>
        </article>

        <article class="no-padding round">
            <a href="#">
              <img class="responsive medium" src="{% static "comics_pages.jpeg" %}">
              <div class="absolute bottom left right padding bottom-shadow bottom-round white-text">
                <nav>
                  <h5>Unit 4</h5>
                  <div class="max"></div>
                </nav>
              </div>
          </a>
        </article>

        </div>
    </section>

    <section class="large-margin">
        <h3 class="center-align">{% ftlmsg "app-modules-about-eu" %}</h3>
        <div class="row space-evenly scroll large-margin">

        <article class="no-padding round">
            <a href="#">
              <img class="responsive medium" src="{% static "european_union_flag.jpeg" %}">
              <div class="absolute bottom left right padding bottom-shadow bottom-round white-text">
                <nav>
                  <h5>Unit 1</h5>
                  <div class="max"></div>
                </nav>
              </div>
          </a>
        </article>

        <article class="no-padding round">
            <a href="#">
              <img class="responsive medium" src="{% static "european_union_flag.jpeg" %}">
              <div class="absolute bottom left right padding bottom-shadow bottom-round white-text">
                <nav>
                  <h5>Unit 2</h5>
                  <div class="max"></div>
                </nav>
              </div>
          </a>
        </article>

        <article class="no-padding round">
            <a href="#">
              <img class="responsive medium" src="{% static "european_union_flag.jpeg" %}">
              <div class="absolute bottom left right padding bottom-shadow bottom-round white-text">
                <nav>
                  <h5>Unit 3</h5>
                  <div class="max"></div>
                </nav>
              </div>
          </a>
        </article>

        </div>
    </section>
</section>

<section id="methodology" class="responsive white-text">
    <h2 class="center-align bold">{% ftlmsg "app-methodology" %}</h2>

    <article class="card-medium no-padding round fill">
      <img class="responsive medium" src="{% static 'study.jpeg' %}">
      <div class="absolute bottom left right padding bottom-shadow bottom-round white-text">
        <nav>
          <h5>Download methodology PDF</h5>
          <div class="max"></div>
          <button class="circle transparent">
            <i>more_vert</i>
            <menu class="top left no-wrap white">
              <li>English</li>
              <li>Slovak</li>
              <li>French</li>
              <li>Esperanto</li>
          </button>
        </nav>
      </div>
    </article>
</section>

<section id="about" class="responsive white-text">
    <h4 class="center">{% ftlmsg "app-about-the-project" %}</h4>

    <p><strong>EduLand is an educational project</strong> that combines the power of storytelling with innovative teaching tools. At its core is a comic book about Milan Rastislav Štefánik — a scientist, aviator, politician, and key figure of European history. By turning his life into a multilingual resource, EduLand creates an engaging entry point into both history and language learning.</p>

    <p>Building on this narrative, the project develops <strong>interactive modules, exercises, and teacher materials</strong> designed to bring languages and history into the classroom in a dynamic way. Comics, videos, and digital activities allow students to explore vocabulary and grammar while at the same time discovering historical events and European values. Teachers benefit from ready-to-use resources that enrich their lessons and make complex topics more approachable.</p>

    <p>The purpose of EduLand is to <strong>encourage curiosity, critical thinking, and intercultural understanding</strong> among students. By linking language learning with history and European democracy, it helps young people see knowledge as a whole rather than in isolated subjects. All resources are freely accessible online, ensuring that teachers and learners across Europe can benefit from this innovative approach.</p>

    <div class="large-space"></div>

    <div class="logos row space-evenly">
        <div style="aspect-ratio: 2 / 1"><img class="responsive small-round" src="{% static "inalco_logo.webp" %}"></div>
        <div><img height="112" src="{% static "ikso_emblemo_blanka.png" %}"></div>
        <div class="circle white small-padding"><img height="100px" src="{% static "GIH_logo.svg" %}"></div>
        <div class="small-round white small-padding"><img height="100px" src="{% static "Co-funded-by-the-EU.jpeg" %}"></div>
    </div>
</section>
{% endblock content %}
