{% load static wagtailcore_tags wagtailimages_tags %}
<h3 id="module-{{ module_page.slug }}" class="center-align">
  <a href="{% pageurl module_page %}">{{ module_page.title }}</a>
</h3>

<div class="card-small row wrap center-align space-evenly large-margin">
{% for unit_page in module_page.get_children.live %}
    <article class="no-padding round s m l">
        <a href="{% pageurl unit_page %}">
          {% srcset_image unit_page.specific.image format-{avif,webp,jpeg} width-470 class="responsive medium" role="presentation" %}
          <div class="absolute bottom left right padding bottom-shadow bottom-round white-text">
            <nav>
              <h5>{{ unit_page.title }}</h5>
              <div class="max"></div>
            </nav>
          </div>
      </a>
    </article>
{% endfor %}
</div>
