{% extends "layout/base.html" %}
{% load static django_vite wagtailcore_tags wagtailimages_tags %}

{% block extra_head %}
  {% vite_asset "src/exercise.ts" %}
{% endblock %}

{% block extra_css %}
  #breadcrumbs {
    i[role="presentation"] {
      font-size: 1.5em;
      bottom: 0.05em;
    }
  }
{% endblock %}

{% block body_class %}secondary-gradient{% endblock %}
{% block main_class %}{% endblock %}

{% block content %}
<div id="breadcrumbs" aria-role="navigation">
<p class="margin small-opacity white-text">
  <a href="{{ page.get_parent.get_parent.url }}">{{ page.get_parent.get_parent }}</a>
  <i role="presentation" class="medium-opacity">chevron_right</i>
  <a href="{{ page.get_parent.url }}">{{ page.get_parent }}</a>
  <i role="presentation" class="medium-opacity">chevron_right</i>
  {{ self }}
</p>
</div>

<section class="responsive">
<h1 class="large-margin center-align white-text">{{ page.title }}</h1>

  <article
    id="exercise"
    class="round large-margin surface-container-lowest"
    style="min-height:80vh"
  >
    <div id="mount-exercise"></div>
  </article>
</section>

{{ page.exercise.data | json_script:"exercise-data" }}
{% endblock content %}
