{% extends "layout/base.html" %}
{% load debug_filters static django_vite wagtailcore_tags wagtailimages_tags %}

{% block extra_head %}
  {% vite_asset "src/exercise.ts" %}
{% endblock %}

{% block content %}
<p class="margin small-opacity white-text">
  <a href="{{ page.get_parent.get_parent.url }}">{{ page.get_parent.get_parent }}</a>
  <i class="medium-opacity" style="font-size:2rem">chevron_right</i>
  <a href="{{ page.get_parent.url }}">{{ page.get_parent }}</a>
  <i class="medium-opacity" style="font-size:2rem">chevron_right</i>
  {{ self }}
</p>

<h1 class="large-margin center-align white-text">{{ page.title }}</h1>
{% with value=page.exercise.first_block_by_name.exercise.value %}
{% if value.testu_link %}
<article
  id="testu-exercise"
  style="height:200vh; overflow-y:auto; resize:vertical"
  class="round large-margin surface-container-lowest"
>
 <iframe src="{{ value.testu_link }}" style="height:100%;width:100%" frameborder="0"></iframe></article>
{% elif value.exercise %}
<article
  id="exercise"
  class="round large-margin surface-container-lowest"
  style="min-height:80vh"
>
  <code id="exercise-data" style="display:none">{% autoescape off %}{{ exercise }}{% endautoescape %}</code>
  <div id="mount-exercise"></div>
</article>
{% endif %}
{% endwith %}
{% endblock content %}
