{% extends "home/simple_page.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block main_class %}responsive max{% endblock %}

{% block extra_css %}
{{ block.super }}
.youtube {
  position: relative;
  text-align: center;
  
  iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
  }
}
{% endblock %}

{% block content %}
<div class="heading secondary-gradient medium-elevate white-text">
  <h1>{{ self.title }}</h1>
</div>

<section class="responsive">

{% for content in self.body %}
  {% if content.block_type == "text" %}
    <div class="indigo-text">{{ content }}</div>
  {% elif content.block_type == "video" %}
    {% include "core/video_block.html" with video=content %}
  {% elif content.block_type == "pdf" %}
    <div class="s12 center-align">
      <a
        href="{{ content.value.url }}"
        target="_blank"
        class="button extra margin surface-container-lowest primary-gradient elevate"
        style="min-width:16em;font-size:1.2em"
      >
        <b class="white-text">PDF: {{ content.value }}</b>
      </a>
    </div>
  {% else %} {# never reached #}
    {{ content }}
  {% endif %}

  {% if not forloop.last %}
    <br class="space">
  {% endif %}
{% endfor %}

<div class="grid space">
{% for exercise_page in page.get_children.live %}
<div class="s12 center-align">
  <a
    href="{{ exercise_page.url }}"
    class="button extra margin surface-container-lowest primary-gradient elevate"
    style="min-width:16em;font-size:1.2em"
  >
    <b class="white-text">{{ exercise_page.title }}</b>
  </a>
</div>
{% endfor %}
</div>

</section>
{% endblock content %}

