{% extends "home/simple_page.html" %}
{% load ftl static wagtailcore_tags wagtailimages_tags %}

{% block main_class %}responsive max{% endblock %}

{% block extra_css %}
{{ block.super }}
.youtube {
  position: relative;
  text-align: center;
  
  iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
  }
}
{% endblock %}

{% block content %}
<div class="heading secondary-gradient medium-elevate white-text">
  <h1>{{ self.title }}</h1>
</div>

<section class="responsive">

{% for content in self.body %}
  {% if content.block_type == "text" %}
    <div class="indigo-text">{{ content }}</div>
  {% elif content.block_type == "video" %}
    {% include "core/video_block.html" with video=content %}
  {% elif content.block_type == "pdf" %}
    <div class="s12 center-align">
      <a
        href="{{ content.value.url }}"
        target="_blank"
        class="pdf button extra margin surface-container-lowest secondary-gradient medium-elevate small-round"
        style="min-width:16em;font-size:1.2em"
      >
        <b class="white-text">
          <i role="presentation" class="extra">picture_as_pdf</i>
          {{ content.value }}
        </b>
      </a>
    </div>
  {% else %} {# never reached #}
    {{ content }}
  {% endif %}

  {% if not forloop.last %}
    <br class="space">
  {% endif %}
{% endfor %}

{% with exercise_pages=page.get_children.live %}
{% if exercise_pages %}
<h2 class="padding margin center-align primary-text">{% ftlmsg "edu-exercises" count=exercise_pages|length %}</h2>
{% endif %}

<div class="grid space">
{% for exercise_page in exercise_pages %}
<div class="s12 center-align">
  <a
    href="{% pageurl exercise_page %}"
    class="button extra margin surface-container-lowest primary-gradient elevate"
    style="min-width:16em;font-size:1.2em"
  >
    <b class="white-text">{{ exercise_page.title }}</b>
  </a>
</div>
{% endfor %}
</div>
{% endwith %}

</section>
{% endblock content %}

