{% load static %}
<footer class="responsive top-margin">
  <br class="large-margin">
  <div class="logos wrap row space-evenly">
      <div class="" style="aspect-ratio: 2 / 1"><img class="responsive small-round" src="{% static "inalco_logo.webp" %}" role="presentation"></div>
      <div class="circle" style="background: #4facfe"><img style="" height="112" src="{% static "ikso_emblemo_blanka.png" %}" role="presentation"></div>
      <div class=" circle white small-padding" ><img class="" height="100" src="{% static "GIH_logo.svg" %}" role="presentation"></div>
      <div class="small-round white small-padding middle-align"><img class="responsive" style="max-width: calc(1rem + min(420px, 80vw)); height: auto" src="{% static "Co-funded-by-the-EU.jpeg" %}" role="presentation"></div>
  </div>
  <nav class="center-align white-text medium-opacity">
    <small>&copy; Eduland {% now "Y" %}</small>
  </nav>
</footer>
