{% load ftl wagtailcore_tags static %}{# Icons: https://fonts.google.com/icons #}
{% url "wagtail_serve" "" as home_url %}
<header class="white medium-padding medium-elevate indigo-text">
  <nav class="m l" aria-label="main">
    <a href="{{ home_url }}" style="display: inline-flex; gap: 1rem">
      <img src="{% static 'android-chrome-192x192.png' %}" class="extra round" role="presentation">
      <p class="bold" style="font-size: 1.6em; margin: unset">{% ftlmsg "app-project-name" %}</p>
    </a>
    <div class="max">{# spacer #}</div>
    {% for item in main_menu %}
      {% if item.subitems %}
      <button class="transparent extra">
        <span><i role="presentation" class="extra">{{ item.icon }}</i> {{ item.title }}</span>
        <menu class="no-wrap">
        {% for subitem in item.subitems %}
          <li>
            <a href="{% pageurl subitem.page.localized %}">
              <i role="presentation">{{ subitem.icon }}</i>
              <div>{% firstof subitem.title subitem.page.localized.title %}</div>
            </a>
          </li>
        {% endfor %}
        </menu>
      </button>
      {% else %}
      <a href="{% pageurl item.page.localized %}" class="button transparent extra">
        <i role="presentation" class="extra">{{ item.icon }}</i>
        <div>{% firstof item.title item.page.localized.title %}</div>
      </a>
      {% endif %}
    {% endfor %}
    <button class="button transparent extra">
      <i role="presentation" class="extra">translate</i>
      <menu class="left no-wrap surface-container-lowest">
        <li class="active">{{ page.locale.language_name_localized | capfirst }}</li>
        {% for page_tr in page.get_translations %}
        <li><a href="{{ page_tr.get_url }}">{{ page_tr.locale.language_name_local | capfirst }}</a></li>
        {% endfor %}
      </menu>
    </button>
  </nav>

  <nav class="s small" aria-label="main">
    <img src="{% static "android-chrome-192x192.png" %}" class="extra round" role="presentation">
    <p class="bold max" style="font-size: 1.8em">{% ftlmsg "app-project-name" %}</p>
    <button class="transparent large round">
      <span><i role="presentation" class="large">menu</i></span>
      <menu class="left no-wrap white">
        {% for item in main_menu %}
          {% if item.subitems %}
          {% for subitem in item.subitems %}
            <li>
              <a href="{{ subitem.page.url }}">
                <i role="presentation">{{ subitem.icon }}</i>
                <div>{% firstof subitem.title subitem.page.localized.title %}</div>
              </a>
            </li>
          {% endfor %}
          {% else %}
          <li>
            <a href="#"> <i role="presentation">{{ item.icon }}</i> {{ item.title }} </a>
          </li>
          {% endif %}
        {% endfor %}
        <li class="active text-black"><i role="presentation">translate</i>{{ page.locale.language_name_localized | capfirst }}</li>
        {% for page_tr in page.get_translations %}
        <li><a href="{{ page_tr.get_url }}"><i role="presentation">translate</i> {{ page_tr.locale.language_name_local | capfirst }}</a></li>
        {% endfor %}
      </menu>
    </button>
  </nav>

</header>
