{% load ftl static django_vite eduland_tags %}<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <title>{% block head_title %}{% firstof page.seo_title page.title %} - {% ftlmsg "app-project-name" %}{% endblock %}</title>
    <meta name="description" content="{{ page.search_description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://api.fonts.coollabs.io">
    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon-32x32.png" %}">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="preload" href="/uploads/images/classroom.format-avif.width-1024.avif" as="image" type="image/avif" />
    <link rel="preload" as="font" href="{% static "fonts/GoboCaps-Regular.woff2" %}">
    {% preload_css "beer.min.css" %}
    {% preload_css "theme.css" %}
    {% preload_css "eduland.css" %}
    {% preload_css "fonts/gobocaps.css" %}
    <script type="module" src="{% beercss "beer.min.js" %}"></script>
    {% preload_css "https://api.fonts.coollabs.io/icon?family=Material+Icons" %}
    {% preload_css "https://api.fonts.coollabs.io/css2?family=Baloo+2:wght@400..800&display=swap" %}

    {% vite_hmr_client %}
    <style>{% block extra_css %}{% endblock %}
    </style>
    {% block extra_head %}{% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% include "layout/navbar.html" %}
    <main class="{% block main_class %}responsive{% endblock %}">
      {% block content %}{% endblock %}
    </main>
    {% block bottom %}{% endblock %}
    {% include "layout/footer.html" %}
    {% block extra_js %}{% endblock %}
    {% if ENVIRONMENT.is_production %}
      {# Analytics with Goatcounter #}
      <script data-goatcounter="{{ GOATCOUNTER_URL }}/count" async src="{{ GOATCOUNTER_URL }}/count.js"></script>
    {% endif %}
  </body>
</html>
