{% load static ftl menu_tags %}
<footer class="top-margin secondary-gradient">
  <br class="large-margin">
  {% flat_menu "footer" %}
  <br class="large-margin">
  <div class="logos wrap row space-evenly">
    <div class="" style="aspect-ratio: 2 / 1">
      <a href="https://www.inalco.fr" target="_blank" aria-label="{% ftlmsg 'app-inalco-website' %}" class="responsive small-round">
        <img class="responsive small-round" src="{% static 'inalco_logo.avif' %}" decoding="async" loading="lazy" role="presentation">
      </a>
    </div>
    <div class="circle" style="background: #4facfe">
      <a href="https://ikso.net" target="_blank" aria-label="{% ftlmsg 'app-ikso-website' %}">
        <img style="" height="112" src="{% static "ikso_emblemo_blanka.avif" %}" decoding="async" loading="lazy" role="presentation">
      </a>
    </div>
    <div class=" circle white small-padding" >
      <a href="https://horvatha.edupage.org" target="_blank" aria-label="{% ftlmsg 'app-horvatha-website' %}">
        <img class="" height="100" src="{% static "GIH_logo.svg" %}" decoding="async" loading="lazy" role="presentation">
      </a>
    </div>
    <div class="small-round white small-padding middle-align">
      <a href="https://erasmus-plus.ec.europa.eu" target="_blank" aria-label="{% ftlmsg 'app-erasmus-plus-website' %}">
        <img class="responsive" style="max-width: calc(1rem + min(420px, 80vw)); height: auto" src="{% static "Co-funded-by-the-EU.avif" %}" decoding="async" loading="lazy" role="presentation">
      </a>
    </div>
  </div>
  <nav class="center-align white-text medium-opacity">
    <small>&copy; {% ftlmsg "app-project-name" %} {% now "Y" %}</small>
  </nav>
</footer>

