@font-face {
  font-family: 'Gobo Caps';
  src: url('static/fonts/GoboCaps-Italic.woff2') format('woff2'),
    url('static/fonts/GoboCaps-Italic.woff') format('woff'),
    url('static/fonts/GoboCaps-Italic.otf') format('otf');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gobo Caps';
  src: url('static/fonts/GoboCaps-Regular.woff2') format('woff2'),
    url('static/fonts/GoboCaps-Regular.woff') format('woff'),
    url('static/fonts/GoboCaps-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}