{% extends "layout/base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}primary-gradient{% endblock %}
{% block main_class %}responsive{% endblock %}

{% block content %}
<h1 class="center-align bold white-text" style="margin-top:4vh">{{ self.title }}</h1>

<section style="margin-top:4vh">
  {{ page.content | richtext }}
</section>

<section style="margin-top:4vh">
{% for unit_page in self.get_children.live %}
  {% image unit_page.specific.image height-500 as illustration %}
  <a href="{{ unit_page.url }}" class="unit round">
    <h2 class="center-align white-text">{{ unit_page.title }}</h2>
    <img class="full-width" src="{{ illustration.url }}">
  </a>
{% endfor %}
</section>
{% endblock content %}

{% block extra_css %}
{{ block.super }}
h1 {
  margin-bottom: 6rem;
}
a.unit {
  display: block;

  h2 {
    margin-bottom: -2rem;
  }
}
  .methodology {
    main a[href$=".pdf"] {
      font-size: 1.2em;
    }
  }
{% endblock %}

{% block extra_js %}{# Mi ne memoras kial mi faris tion, eble forigi iam #}
{{ block.super }}
<script>
  const CLASSES = "pdf button extra margin surface-container-lowest secondary-gradient medium-elevate small-round";

  document.querySelectorAll('a[href$=".pdf"]').forEach(a => {
    a.setAttribute("target", "_blank");
    a.className = CLASSES;
    a.innerHTML = `
      <b class="white-text">
        <i aria-hidden="true" class="extra">picture_as_pdf</i>
        &nbsp;${a.innerHTML}
      </b>`
  })
</script>
{% endblock %}

