/*** HELPERS ***/
.space-evenly {
  justify-content: space-evenly;
}


/*** GLOBAL ***/

:root {
  --primary-gradient: linear-gradient(135deg, #4facfe 0%, #764ba2 100%);
  --secondary-gradient: linear-gradient(135deg, #0c608f 0%, #4facfe 100%);
  --accent-gradient: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
  --dark-gradient: linear-gradient(135deg, #434343 0%, #000000 100%);
}

body {
  min-height: 100vh;
  font-family: "Baloo 2", "Gill Sans", "Gill Sans MT", Roboto, Calibri, "Trebuchet MS", sans-serif;
  line-height: 1.4em;
  font-size: calc(15px + 0.4vw);
  background: white;
}

.primary-gradient {
  background: var(--primary-gradient);
}

.secondary-gradient {
  background: var(--secondary-gradient);
}

img.full-width {
  display: block;
  height: auto;
  margin: 4rem auto;
}

article>a {
  display: flex;
}

/*** HEADER ***/

header {
  /* fix elevation when main has bg color */
  z-index: 1;
}

nav .sub {
  margin-left: 2rem;
  block-size: 3rem !important;
}


/*** MAIN ***/

main {
  padding: 0;
}

/*** FOOTER ***/

main>footer {
  height: 3rem;
}

/*** CONTENT ***/

.hero {
  margin: -0.5rem;
  margin-bottom: 10vh;
  min-height: 60vh;
  padding: 5rem 10vw;
  text-align: center;

}

.hero::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-image: unset;
  background-repeat: no-repeat;
  background-position: 70%;
  background-size: cover;
}

main section.responsive {
  margin-block: 3rem
}

.card-medium {
  min-height: 30vh;

  img {
    min-height: 30vh
  }
}

.card-tall {
  min-height: 40vh;
  aspect-ratio: 5 / 7;

  img {
    max-height: 50vh;
    aspect-ratio: 5 / 7;
  }
}

@media screen and (max-width: 600px) {
  .card-tall {
    max-width: 100%;

    img {
      max-width: 100%;
    }
  }
}

.logos div {
  height: 8rem;
  max-height: 8rem;

  img {
    max-height: 8rem;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Gobo Caps";
}

.pdf.button {
  margin-block: 3em;
}

/* BeerCSS fix for <i> interpreted as icon */
main {
  i:not([role="presentation"]):not(.v-icon) {
    font-style: italic;
    --_size: unset;
    border-radius: unset;
    box-sizing: unset;
    direction: unset;
    display: unset;
    font-family: unset;
    font-feature-settings: unset;
    font-size: unset;
    font-weight: unset;
    inline-size: unset;
    letter-spacing: unset;
    line-height: unset;
    min-block-size: unset;
    min-inline-size: unset;
    text-align: unset;
    text-transform: unset;
    vertical-align: unset;
    white-space: unset;
    word-wrap: unset;
  }
}

.gap-select {
  .v-field {
    font-size: calc(15px + 0.4vw) !important;
  }
}