{% extends "layout/base.html" %}
{% load static ftl wagtailcore_tags wagtailimages_tags wagtail_cache %}

{% block body_class %}primary-gradient{% endblock %}
{% block main_class %}responsive max{% endblock %}

{% block extra_css %}{% image page.hero_image format-avif width-1024 as hero_image %} {{ block.super }}
    .hero::before {
        background-image: url('{{ hero_image.url }}')
    }
{% endblock extra_css %}

{% block content %}
{% wagtailpagecache timeout home_page cache_burst %}
<section id="hero" class="hero white-text medium-elevate small-opacity">
  {{ page.hero_text | richtext }}
  <div class="large-space"></div>
  {% for cta in page.hero_cta %}
    <p>
      <a href="{% firstof cta.value.url cta.value.page.url %}" class="button extra border transparent">
        {{ cta.value.text }}
      </a>
    </p>
  {% endfor %}
</section>


<section id="comics" class="responsive white-text">
    <h2 class="center-align bold">{% ftlmsg "app-comics" %}</h2>
    <div class="row space-evenly wrap">
      {% for file in page.comics %}
        {{ file }}
      {% endfor %}
    </div>
</section>

<section id="modules" class="white-text">
    <h2 class="center-align bold">{% ftlmsg "app-modules" %}</h2>

    {% for module in self.module_pages %}
        {% include "education/blocks/module_block.html" with module_page=module only %}
    {% endfor %}
</section>

<section id="methodology" class="responsive white-text">
    <h2 class="center-align bold">{% ftlmsg "app-methodology" %}</h2>

    <article class="card-medium no-padding round fill">
      <img class="responsive medium" src="{% static 'study.jpeg' %}" role="presentation">
      <div class="absolute bottom left right padding bottom-shadow bottom-round white-text">
        <nav>
          <h3 class="small-heading">Download methodology PDF</h3>
          <div class="max"></div>
          <button class="circle transparent" aria-label="Download">
            <i aria-hidden="true">more_vert</i>
            <menu class="top left no-wrap white">
              <li>English</li>
              <li>Slovak</li>
              <li>French</li>
              <li>Esperanto</li>
          </button>
        </nav>
      </div>
    </article>
</section>


<section id="about" class="responsive white-text">
    {{ page.about|richtext }}
</section>

<div class="large-space"></div>
{% endwagtailpagecache %}
{% endblock content %}

